body {
  font-family: "Raleway", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
}

/* Classes that target the body tag in order to use with useLayoutEffect Hook */
body.light {
  background-color: #fff;
  color: #000;
}

body.dark {
  background-color: #000;
  color: #fff;
}
